<div class="card">
  <%= link_to image_tag(submit.image, class: :card__img ),submits_path(submit.id) %>
  <div class="card__body">
    <%= link_to submit.title, submits_path(submit.id), class: :card__title%>
    <p class="card__summary">
      <%= submit.content %>
    </p>
    <%= link_to  "by #{submit.user.nickname}", user_path(submit.user.id), class: :card__user %>
  </div>
</div>