<div class index-main>
  <div class="hero">
    <div class="hero-items">
      <div class="hero-image-form">
        <%= link_to image_tag('/top_image.jpg', class: :"hero-image") %>
      </div>
      <div class="hero-texts">
        <div class="hero-text__main">キャンプで広がる輪</div>
        <div class="hero-text__sub">さあ、語り合おう。</div>
        <div class="service_btn">
          <%= link_to "テーマを投稿する", new_submit_path %>
        </div>
      </div>
    </div>
  </div>
</div>