<div class index-main>
  <div class="hero">
    <%= link_to image_tag("top_image.jpg", class: :"hero-image") %>
    <div class="hero-items">
      <div class="hero-texts">
        <div class="hero-text__main">キャンプで広がる輪</div>
        <div class="hero-text__sub">さあ、語り合おう。</div>
      </div>
        <%= link_to "テーマを投稿する", new_submit_path, class: :service_btn %>
    </div>
  </div>
</div>