<main class="main">
  <div class="top__wrapper">
    <%= render partial: "top" %> 
  </div>
  <div class="inner">
    <div class="card__wrapper">
      <%= render partial: "submit", collection: @submits %> 
    </div>
  </div>
</main>
