<main class="main">
  <div class='form__wrapper'>
    <div class="top__wrapper">
      <%= render partial: "top" %> 
    </div>
    <div class="inner">
      <% if @submits.count > 4%>
        <h2 class="page-heading-center">人気ランキング</h2>
        <div class="card__wrapper">
          <%= render partial: "submit", collection: @rank_submits_index %> 
        </div>
      <% end %>
      <div class="index_center"> </div>
      <% if @submits.count != "" %>
        <h2 class="page-heading-center">新着記事</h2>
        <div class="card__wrapper">
          <%= render partial: "submit", collection: @submits %> 
        </div>
      <% else %>
        <h2 class="page-heading-center">記事を投稿してみよう!!</h2>
      <% end %>
    </div>
  </div>
</main>
